* {
margin: 0;
padding: 0;
}

body {
max-width: 960px;
font: normal 0.9em/1.8 "Century Schoolbook", arial, sans-serif;
color:#174366;
margin: 0 auto;
}


#mainBG {
background-color: #cee9ff;
padding: 25px 45px;
border-color: #174366;
border-width: 1px;        
border-style: solid;
}

#logo {
display: none;
}

#logo_tablet {
display: none;
}

#logo_banner {
width: 100%;
}

.cta {
padding-top: 20px;
padding-left: 40px;
}

.banners {
padding-top: 20px;
padding-left: 40px;
}

h1 {
font: bold 1.5em /*24px/16px*/ /1.0 "Gurmukhi MN", cursive, arial, sans-serif;
font-weight: 400;
color: #ffba68;
text-align: center;
padding: 7px;
background-color: #174366;
border-color: #174366;
border-radius: 10px;
border-width: 1px; 
margin-right: 2%;       
}


p {
text-indent: 25px;
padding-top: 15px;
}

/*------------------------------------ NAVIGATION ------------------------------------ */

nav ul {
background: #cee9ff;
margin: 0 auto;
padding: 0;
}

nav ul li {
width: 16.4%;/*16.46%; /*160px/960px -12 because of each 1px border*/
float: left;
list-style-type: none;
border-color: #174366;
border-width: 1px;        
border-style: solid;
}


/*------------------------------------ NAVIGATION LINKS ------------------------------- */

nav ul a {
text-decoration: none;
background: #cee9ff;
display: block;
height: 40px;
line-height: 40px;
text-align: center;
color: #174366;
}

nav ul a:link {
color: #174366;
}

nav ul a:visited {
color: #ff8a00;
}

 nav ul a:hover {
color: #174366;
background: #ffba68;
}

nav ul a:active {
color: #fff;
}


/*---------------------------------------HOME PAGE ------------------------------------*/

#about_col {
float: left;
width: 28.645833333333%; /*275/960px*/
padding-right: 4%;
}

#cleaning_col {
float: left;
width: 28.645833333333%; /*275/960px*/
padding-right: 4%;
}

#cleaning_col ul li{
text-align: center;
list-style-type: none;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 10px;
width: 80%; 
margin-left: 10%;
margin-top: 7px;
}

#set_appt_col {
float: left;
width: 28.645833333333%; /*275/960px*/
}


/*--------------------------------------- Cleaning Page------------------------*/

#cleaning_services_col {
float: left;
width: 57.291666666667%; /*550px/960px*/
}


#cleaning_services_pics {
float: left;
width: 20.833333333333%;/*200 /*31.25%; /*300px/960px*/ 
} 

#cleaning_services_col table {
float: left;
width: 100%;
border-collapse: collapse;
border: 1px solid #174366;
margin: 10px 0 0 0;
}

#cleaning_services_col th {
font: bold 1.0em/0.5 "Century Schoolbook", cursive, Arial, sans-serif;
font-weight: 400;
background-color: #174366;
color: #ffba68;
padding: 0.9em 0.6em;
}

#cleaning_services_col td {
font:normal 0.9em/1.5 "Century Schoolbook", cursive, Arial, sans-serif;
font-weight: 400;
border: 1px solid #999a9a;
text-align: center;
padding: 3px 0;
}

.highlight {
background-color: #ebf5fd;
}


/*--------------------------------------- washing Page------------------------*/

#washing_services_col {
float: left;
width: 57.291666666667%; /*550px/960px*/
}

#washing_services_col table {
float: left;
border-collapse: collapse;
border: 1px solid #174366;
margin: 10px 2% 0 0;
}

#washing_services_pics {
float: left;
width: 20.833333333333%;/*31.25%; /*300px/960px*/
} 

#washing_services_col th {
font: bold 1.0em/0.5 "Century Schoolbook", cursive, Arial, sans-serif;
font-weight: 400;
background-color: #174366;
color: #ffba68;
padding: 0.9em 0.6em;
}

#washing_services_col td {
font:normal 0.9em/1.5 "Century Schoolbook", cursive, Arial, sans-serif;
font-weight: 400;
border: 1px solid #999a9a;
text-align: center;
padding: 3px 0;
}

.highlight {
background-color: #ebf5fd;
}


/*--------------------------------------- Specials Page------------------------*/

#specials_col table {
border-collapse: collapse;
border: 1px solid #174366;
margin: 0 auto;
}
 
#specials_col th {
font: bold 1.0em/0.5 "Century Schoolbook", cursive, Arial, sans-serif;
font-weight: 400;
background-color: #174366;
color: #ffba68;
padding: 0.9em 0.9em;
}

#specials_col td {
font:normal 0.9em/1.5 "Century Schoolbook", cursive, Arial, sans-serif;
font-weight: 400;
border: 1px solid #999a9a;
text-align: center;
padding: 3px 0;
padding: 5px 1%;
}

.orange_highlight {
background-color: #ffba68;
}

/*--------------------------------------- Appointments/form Page------------------------*/

#h1_margins {
margin-left: 15%;
}

form {  
background-color: rgba(255, 255, 255, 0.6);
border-radius: 10px;
}

.form_lists ul{
list-style-type: none;
padding: 20px 12%;
}

.form_lists li {
padding: 4px;
}

input:focus {
background: #fcd8ac;
}

/*---------------------------submit button------------*/

button.sumbitbutton {
color: #174366;
background-color: #ffba68;
border-color:  #fb9f2f;
border-radius: 10px;
width: 25%;
height: 40px;
font: bold 1em /*30px/16px*/ /0.5 "Gurmukhi MN", cursive, arial, sans-serif;
font-weight: 400;
margin: 0 35% 20px;
}

button.sumbitbutton:hover {
color: #cee9ff;
background-color: #174366;
border-color: #6285a1;
}


/*--------------------------------------- Appointments/contact Page------------------------*/

#appt_col {
float: left;
width: 46.875%; /*450px/960px*/
}

#contact_col {
float: left;
width: 46.875%; /*450px/960px*/
padding-left: 6%;
}


/*--------------------------------------- Equipment Page------------------------*/

#equip_col {
float: left;
width: 46.875%; /*450px/960px*/
padding-right: 3%;
}

#equip_col ul li {
list-style-type: none;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 10px;
width: 400px;
margin-top: 7px;
padding-left: 4%;  
}

#photo_col {
float: left;
width: 46.875%; /*450px/960px*/
} 

/*--------------------------------------- FOOTER ------------------------------------*/

footer {
font:normal 0.7em/1.5 "Century Schoolbook", cursive, Arial, sans-serif;
font-weight: 400;
text-align: center;
color:#174366;
width: 100%; /* 920px */
clear: both;
margin-top: 40px;
}



/*---------------------------------------1st media ---------------------------------------------*/


@media screen and (min-width:719px) and (max-width: 919px){

#mainBG {
width: 100%;
margin: 0;
padding: 0;
}

#logo_banner {
width: 100%;
}


nav{
width: 100%;
}

.cta {
width: 90%;
}
.banners {
width: 90%;
}

body {
font: normal 80%/1.5 "Century Schoolbook", arial, sans-serif; 
}



/*---------------------------cleaning pg---------*/

#cleaning_services_col {
padding-left:2%;
}


/*---------------------------washing pg---------*/

/*---------------------------specials pg---------*/


/*---------------------------appt pg---------*/

form{
width: 80%;
}

/*-------------------------equip pg----------*/

#equip_col p {
padding-left: 10%;
}

#equip_col ul {
padding-left: 10%;
}

/*photos automatically float-none when it hits a smaller screen then this size.
must be picking up from other
codes*/

}/* end of media 719*/

/*-------------------------------------- 2nd media tablets------------------------------*/

@media screen and (min-width:480px) and (max-width:718px){ 

#mainBG {
width: 100%;
margin: 0;
padding: 0;
}

#logo_tablet {
display: block;
width: 100%;
height: 80px;
}

#logo {
display: none;
}

#logo_banner {
display: none;
}

body {
font: normal 70%/1.5 "Century Schoolbook", arial, sans-serif; 
}

nav ul li {
width: 16.2%;
}

.cta {
width: 90%;
}

.banners {
width: 90%;
}

nav ul {
width: 100%;
}

/*---------------------home pg--------*/

#media_home_img {
width: 80%;
}


/*---------------cleaning pg-----------*/

#cleaning_services_col {
float: none;
width: 100%;
padding-left:2%;
}

#cleaning_services_col table {
float: none;
width: 100%;
}

#cleaning_services_pics {
float: none;
width: 100%;
padding-top: 20px;
margin-left: 20%;

}


/*---------------washing pg-----------*/




/*---------------specials pg-----------*/





/*---------------appt pg-----------*/

#appt_col p{
padding-left: 5%;
}

form{
margin-left: 5%;
padding-right: 30%;
}

#contact_col {
margin: 0;
}

/*-------------------------equip pg----------*/

#equip_col p {
padding-left: 10%;
}

#equip_col ul li {
width: 83%;
margin-left: 10%;
}

.photo_col img {
width: 40%;
}

}/* end of media 480*/


/*------------------------------------- 3rd media mobile------------------------------*/

@media screen and (max-width: 479px){ 

body {
font: normal 90%/1.5 "Century Schoolbook", arial, sans-serif;
 
}

#mainBG {
width: 100%;
margin: 0;
padding: 0;
}


#logo {
display: block;
width: 100%;

}

#logo_tablet {
display: none;
}

#logo_banner {
display: none;
}

nav ul li{
width: 100%;
}

.cta {
display: none;
}

.banners {
display: none;
}

/*---------------------home pg--------*/

#about_col { 
width: 92%;
clear: both;
float: none;
margin-left:5%;
}

#cleaning_col { 
width: 100%;
clear: both;
float: none;
display: none;
}

#media_linkone {
width: 100%;
clear: both;
float: none;
display:none;
}

#media_linktwo {
width: 100%;
clear: both;
float: none;
display:none;
}

#set_appt_col { 
width: 100%;
clear: both;
float: none;
display: none;
}


#media_home_img {
width: 100%;
clear: both;
float: none;
display: none;
}


/*---------------------cleaning pg--------*/

#cleaning_services_col {
float: none;
width: 98%;
padding: 0 2%;
}

#cleaning_services_col table {
float: none;
width: 98%;
}


#cleaning_services_col th {
font: normal 90%/1.3 "Century Schoolbook", arial, sans-serif;
}

#cleaning_services_pics {
display: none;
}



/*---------------------washing pg--------*/

#washing_services_col {
float: none;
width: 98%;
padding: 0 2%;
}

#washing_services_col table {
float: none;
width: 98%;
}

#washing_services_pics {
display:none;
}

/*---------------------specials pg--------*/

#specials_col th {
font: normal 90%/1.3 "Century Schoolbook", arial, sans-serif;
}
/*---------------------appt pg--------*/

#h1_margins {
margin: 0 0 0 20%;
}

#appt_col p {
margin: 0 0 5% 13%;
}

form {
margin-left:10%;
}

#appt_col {
width: 90%;
clear: both;
float: none;
}

#contact_col {
width: 90%;
clear: both;
float: none;
margin: 5% 0 0 0;
}

#contact_col h1 {
margin-left:10%;
}

#comment {
width: 98%;
}


/*---------------------equip pg--------*/

#equip_col {
width: 95%;
clear: both;
float: none;
margin: 0 2%;
}

#h1_margins {
margin: 0 auto;
}

.photo_col {
width: 100%;
clear: both;
float: none;
}

.photo_col img {
display: none;
}

}/* end of media 479*/












