* {
margin: 0;
padding: 0;
}

body {
max-width: 960px;
font: normal 100%/1.5 "Century Schoolbook", arial, sans-serif; /*100% = 16pt*/
color:#174366;
margin: 0 auto;
}


#mainBG {
background-color: #cee9ff;
padding: 25px 45px;
border-color: #174366;
border-width: 1px;        
border-style: solid;
}

.cta {
padding-left: 40px;
}

h1 {
font: bold 1.5em /*24px/16px*/ /0.5 "Gurmukhi MN", cursive, arial, sans-serif;
font-weight: 400;
color: #ffba68;
text-align: center;
padding: 20px;
background-color: #174366;
border-color: #174366;
border-radius: 10px;
border-width: 1px;        
border-style: solid;
width: 230px;
}


p {
text-indent: 25px;
padding-top: 15px;
}

/*------------------------------------ NAVIGATION ------------------------------------ */

nav {
height: 40px;
}

nav ul {
background: #cee9ff;
margin: 0 auto;
padding: 0;
}

nav ul li {
width: 16.46%; /*160px/960px -12 because of each 1px border*/
float: left;
list-style-type: none;
border-color: #174366;
border-width: 1px;        
border-style: solid;
}


/*------------------------------------ NAVIGATION LINKS ------------------------------- */

nav ul a {
text-decoration: none;
background: #cee9ff;
display: block;
height: 40px;
line-height: 40px;
text-align: center;
color: #174366;
}

nav ul a:link {
color: #174366;
}

nav ul a:visited {
color: #9a9a9a;
}

 nav ul a:hover {
color: #174366;
background: #ffba68;
}

nav ul a:active {
color: #fff;
}


/*---------------------------------------HOME PAGE ------------------------------------*/

#about_col {
float: left;
width: 28.645833333333%; /*275/960px*/
padding-right: 4%;
}

#cleaning_col {
float: left;
width: 28.645833333333%; /*275/960px*/
padding-right: 4%;
}

#cleaning_col ul li{
text-align: center;
list-style-type: none;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 10px;
width: 200px;
margin-left: 10%;
margin-top: 7px;
}

#set_appt_col {
float: left;
width: 28.645833333333%; /*275/960px*/
}




/*--------------------------------------- Appointments/form Page------------------------*/

#h1_margins {
margin-left: 15%;
}

form {  
background-color: rgba(255, 255, 255, 0.6);
border-radius: 10px;
}

.form_lists ul{
list-style-type: none;
padding: 20px 12%;
}

.form_lists li {
padding: 4px;
}

input:focus {
background: #fcd8ac;
}

/*---------------------------submit button------------*/

button.sumbitbutton {
color: #174366;
background-color: #ffba68;
border-color:  #fb9f2f;
border-radius: 10px;
width: 25%;
height: 40px;
font: bold 1em /*30px/16px*/ /0.5 "Gurmukhi MN", cursive, arial, sans-serif;
font-weight: 400;
margin: 0 35% 20px;
}

button.sumbitbutton:hover {
color: #cee9ff;
background-color: #174366;
border-color: #6285a1;
}


/*--------------------------------------- Appointments/contact Page------------------------*/

#appt_col {
float: left;
width: 46.875%; /*450px/960px*/
}

#contact_col {
float: left;
width: 46.875%; /*450px/960px*/
padding-left: 6%;
}


/*--------------------------------------- Equipment Page------------------------*/

#equip_col {
float: left;
width: 46.875%; /*450px/960px*/
padding-right: 3%;
}

#equip_col ul li {
list-style-type: none;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 10px;
width: 400px;
margin-top: 7px;
padding-left: 4%;  
}

#photo_col {
float: left;
width: 46.875%; /*450px/960px*/
} 

/*--------------------------------------- FOOTER ------------------------------------*/

footer {
color:#174366;
width: 100%; /* 920px */
clear: both;
}



/*---------------------------------------1st media ---------------------------------------------*/


@media screen and (min-width:719px) and (max-width: 919px){


#mainBG {
width: 100%;
margin: 0;
padding: 0;
}

#logo {
width: 100%;
}

nav{
width: 100%;
}

.cta {
width: 90%;
}

body {
font: normal 80%/1.5 "Century Schoolbook", arial, sans-serif; 
}

/*---------------------------appt pg---------*/

form{
width: 80%;
}

/*-------------------------equip pg----------*/

#equip_col p {
padding-left: 10%;
}

#equip_col ul {
padding-left: 10%;
}

/*photos automatically float-none when it hits a smaller screen then this size.
must be picking up from other
codes*/

}/* end of media 719*/

/*-------------------------------------- 2nd media tablets------------------------------*/

@media screen and (min-width:480px) and (max-width:718px){

#mainBG {
width: 100%;
margin: 0;
padding: 0;
}

#logo {
width: 100%;
}

body {
font: normal 70%/1.5 "Century Schoolbook", arial, sans-serif; 
}
nav {
width: 100%;
padding: 0;
margin: 0;
}
.cta {
width: 90%;
}

nav ul {
width: 100%;
}

/*---------------------home pg--------*/

#media_cleaning {
width: 10%;
}

#media_home_img {
width: 80%;
}


/*---------------appt pg-----------*/

#appt_col p{
padding-left: 5%;
}

form{
margin-left: 5%;
padding-right: 30%;
}

#contact_col {
margin: 0;
}

/*-------------------------equip pg----------*/

#equip_col p {
padding-left: 10%;
}

#equip_col ul li {
width: 83%;
margin-left: 10%;
}

/*#media_equip {
width: 40%;
}

#media_van {
width: 40%;
}*/

.photo_col img {
width: 40%;
}

}/* end of media 480*/


/*------------------------------------- 3rd media mobile------------------------------*/

@media screen and (max-width: 479px){

body {
font: normal 90%/1.5 "Century Schoolbook", arial, sans-serif;
 
}

#mainBG {
width: 100%;
margin: 0;
padding: 0;
}

#logo {
width: 100%;
}

nav ul li{
width: 100%;
}

.cta {
display: none;
}

/*---------------------home pg--------*/
#about_col h1 {
margin-left: 15%;
}

#about_col { 
width: 92%;
clear: both;
float: none;
margin-left:5%;
}

#cleaning_col { 
width: 100%;
clear: both;
float: none;
display: none;
}

#media_linkone {
width: 100%;
clear: both;
float: none;
display:none;
}

#media_linktwo {
width: 100%;
clear: both;
float: none;
display:none;
}

#set_appt_col { 
width: 100%;
clear: both;
float: none;
display: none;
}


#media_home_img {
width: 100%;
clear: both;
float: none;
display: none;
}

/*---------------------appt pg--------*/

#h1_margins {
margin: 0 0 0 20%;
}

#appt_col p {
margin: 0 0 5% 13%;
}

form {
margin-left:10%;
}

#appt_col {
width: 90%;
clear: both;
float: none;
}

#contact_col {
width: 90%;
clear: both;
float: none;
margin: 5% 0 0 0;
}

#contact_col h1 {
margin-left:10%;
}



/*---------------------equip pg--------*/

#equip_col {
width: 95%;
clear: both;
float: none;
margin: 0 5%;
}

.photo_col {
width: 100%;
clear: both;
float: none;
}

.photo_col img {
display: none;
}

}/* end of media 479*/












